@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 1536px;
  height: 1042px;
}

main {
  display: flex;
  height: 100vh;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: medium;
  font-size: 32px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  padding: 64px;
  width: 404px;
  height: 638px;
}

input {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  width: 404px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 30px;
}

.right {
  width: 50%;
  min-width: 781px;
  max-height: 100vh;
  float: right;
  margin-left: 240px;
  border-radius: 30px 0 0 30px;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

.checkbox {
  display: flex;
  align-items: center;
}
.checkbox input {
  width: 20px;
  margin-bottom: 0;
}

.submit {
  border: 1px solid #3a5b22;
  margin-top: 20px;
  padding: 10px;
  width: 404px;
  background-color: #3a5b22;
  border-radius: 10px;
  color: white;
}

.another {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.media {
  background-color: white;
  border-radius: 10px;
  color: black;
  border: 1px solid gray;
  width: 190px;
  margin: 10px;
}
